body {
  height: 100vh;
  background: #244A75;
  margin: 10%;
}


.text-1 {
  position: relative;
  top: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-top: 10%;

}

.text-2 {
  position: relative;
  top: 350px;
  left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

}

.text-3 {
  position: relative;
  top: 650px;
  left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


.text-4 {
  position: relative;
  top: 950px;
  left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 5%;
 
}

.background {
  background-color: #E89E80;
  position: relative;
  top: -210%;
  left:-13%;
  height: 250vh;
  width: 15%;
  border-right: 6px solid black;
  display: block;
  text-decoration: none;
}


@media (min-width: 800px) {
  body {
      height: 100vh;
      width: 100vh;
      background: #244A75;
      margin: 0;
  }
  
  .text-1 {
      position: ;
      top: 50px;
      left: 400px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      padding-left: 10%;
  }

  .text-2 {
      position: relative;
      top: 450px;
      left: 400px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      padding-left: 10%;
    }

  .text-3 {
      position: relative;
      top: 850px;
      left: 400px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      padding-left: 10%;
  }

  .text-4 {
      position: relative;
      top: 1250px; 
      left: 400px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      padding-left: 10%;
      padding-bottom: 5%;
  }

  .background {

      background-color: #E89E80;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      height: 250vh;
      width: 15%;
      border-right: 6px solid black;
      display: block;
      text-decoration: none;
  }

}



